<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[风扇]</key>
	<string>emoji_076</string>
	<key>[囧]</key>
	<string>emoji_075</string>
	<key>[orz]</key>
	<string>emoji_074</string>
	<key>[干杯]</key>
	<string>emoji_073</string>
	<key>[冰棍]</key>
	<string>emoji_072</string>
	<key>[飞机]</key>
	<string>emoji_071</string>
	<key>[熊猫]</key>
	<string>emoji_070</string>
	<key>[兔子]</key>
	<string>emoji_069</string>
	<key>[奥特曼]</key>
	<string>emoji_068</string>
	<key>[浮云]</key>
	<string>emoji_067</string>
	<key>[给力]</key>
	<string>emoji_066</string>
	<key>[威武]</key>
	<string>emoji_065</string>
	<key>[围观]</key>
	<string>emoji_064</string>
	<key>[玫瑰]</key>
	<string>emoji_063</string>
	<key>[礼花]</key>
	<string>emoji_062</string>
	<key>[蜡烛]</key>
	<string>emoji_061</string>
	<key>[太阳]</key>
	<string>emoji_060</string>
	<key>[下雨]</key>
	<string>emoji_059</string>
	<key>[月亮]</key>
	<string>emoji_058</string>
	<key>[话筒]</key>
	<string>emoji_057</string>
	<key>[猪头]</key>
	<string>emoji_056</string>
	<key>[钟]</key>
	<string>emoji_055</string>
	<key>[伤心]</key>
	<string>emoji_054</string>
	<key>[心]</key>
	<string>emoji_053</string>
	<key>[蛋糕]</key>
	<string>emoji_052</string>
	<key>[来]</key>
	<string>emoji_051</string>
	<key>[赞]</key>
	<string>emoji_050</string>
	<key>[ok]</key>
	<string>emoji_049</string>
	<key>[不要]</key>
	<string>emoji_048</string>
	<key>[弱]</key>
	<string>emoji_047</string>
	<key>[good]</key>
	<string>emoji_046</string>
	<key>[耶]</key>
	<string>emoji_045</string>
	<key>[握手]</key>
	<string>emoji_044</string>
	<key>[顶]</key>
	<string>emoji_043</string>
	<key>[疑问]</key>
	<string>emoji_042</string>
	<key>[黑线]</key>
	<string>emoji_041</string>
	<key>[打哈气]</key>
	<string>emoji_040</string>
	<key>[可怜]</key>
	<string>emoji_039</string>
	<key>[吐]</key>
	<string>emoji_038</string>
	<key>[委屈]</key>
	<string>emoji_037</string>
	<key>[嘘]</key>
	<string>emoji_036</string>
	<key>[左哼哼]</key>
	<string>emoji_035</string>
	<key>[右哼哼]</key>
	<string>emoji_034</string>
	<key>[懒得理你]</key>
	<string>emoji_033</string>
	<key>[太开心]</key>
	<string>emoji_032</string>
	<key>[怒骂]</key>
	<string>emoji_031</string>
	<key>[亲亲]</key>
	<string>emoji_030</string>
	<key>[生病]</key>
	<string>emoji_029</string>
	<key>[思考]</key>
	<string>emoji_028</string>
	<key>[失望]</key>
	<string>emoji_027</string>
	<key>[鼓掌]</key>
	<string>emoji_026</string>
	<key>[花心]</key>
	<string>emoji_025</string>
	<key>[挖鼻屎]</key>
	<string>emoji_024</string>
	<key>[鄙视]</key>
	<string>emoji_023</string>
	<key>[闭嘴]</key>
	<string>emoji_022</string>
	<key>[吃惊]</key>
	<string>emoji_021</string>
	<key>[衰]</key>
	<string>emoji_020</string>
	<key>[酷]</key>
	<string>emoji_019</string>
	<key>[偷笑]</key>
	<string>emoji_018</string>
	<key>[钱]</key>
	<string>emoji_017</string>
	<key>[睡觉]</key>
	<string>emoji_016</string>
	<key>[害羞]</key>
	<string>emoji_015</string>
	<key>[困]</key>
	<string>emoji_014</string>
	<key>[汗]</key>
	<string>emoji_013</string>
	<key>[怒]</key>
	<string>emoji_012</string>
	<key>[可爱]</key>
	<string>emoji_011</string>
	<key>[抱抱]</key>
	<string>emoji_010</string>
	<key>[哼]</key>
	<string>emoji_009</string>
	<key>[抓狂]</key>
	<string>emoji_008</string>
	<key>[馋嘴]</key>
	<string>emoji_007</string>
	<key>[泪]</key>
	<string>emoji_006</string>
	<key>[晕]</key>
	<string>emoji_005</string>
	<key>[爱你]</key>
	<string>emoji_004</string>
	<key>[哈哈]</key>
	<string>emoji_003</string>
	<key>[嘻嘻]</key>
	<string>emoji_002</string>
	<key>[呵呵]</key>
	<string>emoji_001</string>
</dict>
</plist>
