<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>35.cn</key>
	<dict>
		<key>imap</key>
		<dict>
			<key>port</key>
			<string>993</string>
			<key>host</key>
			<string>mail.35.cn</string>
			<key>SSLPort</key>
			<string>993</string>
			<key>connectionSSL</key>
			<true/>
		</dict>
		<key>smtp</key>
		<dict>
			<key>host</key>
			<string>mail.35.cn</string>
			<key>port</key>
			<string>465</string>
			<key>SSLPort</key>
			<string>465</string>
			<key>connectionSSL</key>
			<true/>
		</dict>
	</dict>
	<key>163.com</key>
	<dict>
		<key>imap</key>
		<dict>
			<key>host</key>
			<string>imap.163.com</string>
			<key>SSLPort</key>
			<string>993</string>
			<key>port</key>
			<string>143</string>
			<key>connectionSSL</key>
			<true/>
		</dict>
		<key>smtp</key>
		<dict>
			<key>host</key>
			<string>smtp.163.com</string>
			<key>port</key>
			<string>465</string>
			<key>SSLPort</key>
			<string>465</string>
			<key>connectionSSL</key>
			<true/>
		</dict>
	</dict>
	<key>126.com</key>
	<dict>
		<key>imap</key>
		<dict>
			<key>host</key>
			<string>imap.126.com</string>
			<key>port</key>
			<string>143</string>
			<key>SSLPort</key>
			<string>993</string>
			<key>connectionSSL</key>
			<true/>
		</dict>
		<key>smtp</key>
		<dict>
			<key>host</key>
			<string>smtp.126.com</string>
			<key>port</key>
			<string>465</string>
			<key>SSLPort</key>
			<string>465</string>
			<key>connectionSSL</key>
			<true/>
		</dict>
	</dict>
	<key>qq.com</key>
	<dict>
		<key>imap</key>
		<dict>
			<key>host</key>
			<string>imap.qq.com</string>
			<key>port</key>
			<string>993</string>
			<key>SSLPort</key>
			<string>993</string>
			<key>connectionSSL</key>
			<true/>
		</dict>
		<key>smtp</key>
		<dict>
			<key>host</key>
			<string>smtp.qq.com</string>
			<key>port</key>
			<string>465</string>
			<key>SSLPort</key>
			<string>465</string>
			<key>connectionSSL</key>
			<true/>
		</dict>
	</dict>
	<key>gmail.com</key>
	<dict>
		<key>imap</key>
		<dict>
			<key>host</key>
			<string>imap.gmail.com</string>
			<key>port</key>
			<string>993</string>
			<key>SSLPort</key>
			<string>993</string>
			<key>connectionSSL</key>
			<true/>
		</dict>
		<key>smtp</key>
		<dict>
			<key>host</key>
			<string>smtp.gmail.com</string>
			<key>port</key>
			<string>587</string>
			<key>SSLPort</key>
			<string>587</string>
			<key>connectionSSL</key>
			<true/>
		</dict>
	</dict>
	<key>yeah.net</key>
	<dict>
		<key>imap</key>
		<dict>
			<key>host</key>
			<string>imap.yeah.net</string>
			<key>port</key>
			<string>993</string>
			<key>SSLPort</key>
			<string>993</string>
			<key>connectionSSL</key>
			<true/>
		</dict>
		<key>smtp</key>
		<dict>
			<key>host</key>
			<string>smtp.yeah.net</string>
			<key>port</key>
			<string>465</string>
			<key>SSLPort</key>
			<string>465</string>
			<key>connectionSSL</key>
			<true/>
		</dict>
	</dict>
	<key>139.com</key>
	<dict>
		<key>imap</key>
		<dict>
			<key>host</key>
			<string>imap.10086.cn</string>
			<key>port</key>
			<string>993</string>
			<key>SSLPort</key>
			<string>993</string>
			<key>connectionSSL</key>
			<true/>
		</dict>
		<key>smtp</key>
		<dict>
			<key>host</key>
			<string>smtp.139.com</string>
			<key>port</key>
			<string>465</string>
			<key>SSLPort</key>
			<string>465</string>
			<key>connectionSSL</key>
			<true/>
		</dict>
	</dict>
	<key>189.cn</key>
	<dict>
		<key>imap</key>
		<dict>
			<key>host</key>
			<string>imap.189.cn</string>
			<key>port</key>
			<string>993</string>
			<key>SSLPort</key>
			<string>993</string>
			<key>connectionSSL</key>
			<true/>
		</dict>
		<key>smtp</key>
		<dict>
			<key>host</key>
			<string>smtp.189.cn</string>
			<key>port</key>
			<string>25</string>
			<key>SSLPort</key>
			<string>465</string>
			<key>connectionSSL</key>
			<true/>
		</dict>
	</dict>
	<key>sina.com</key>
	<dict>
		<key>imap</key>
		<dict>
			<key>host</key>
			<string>imap.sina.com</string>
			<key>port</key>
			<string>143</string>
			<key>SSLPort</key>
			<string>993</string>
			<key>connectionSSL</key>
			<false/>
		</dict>
		<key>smtp</key>
		<dict>
			<key>host</key>
			<string>smtp.sina.com</string>
			<key>port</key>
			<string>25</string>
			<key>SSLPort</key>
			<string>465</string>
			<key>connectionSSL</key>
			<false/>
		</dict>
	</dict>
	<key>sina.cn</key>
	<dict>
		<key>imap</key>
		<dict>
			<key>host</key>
			<string>imap.sina.cn</string>
			<key>port</key>
			<string>143</string>
			<key>SSLPort</key>
			<string>993</string>
			<key>connectionSSL</key>
			<false/>
		</dict>
		<key>smtp</key>
		<dict>
			<key>host</key>
			<string>smtp.sina.cn</string>
			<key>port</key>
			<string>25</string>
			<key>SSLPort</key>
			<string>465</string>
			<key>connectionSSL</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
