<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>@35.cn</string>
		<string>@eyou.net</string>
		<string>@qq.com</string>
		<string>@foxmail.com</string>
		<string>@sina.cn</string>
		<string>@sina.com</string>
		<string>@139.com</string>
		<string>@189.cn</string>
		<string>@163.com</string>
		<string>@126.com</string>
		<string>@yeah.net</string>
		<string>@outlook.com</string>
		<string>@gmail.com</string>
		<string>@hotmail.com</string>
		<string>@aliyun.com</string>
		<string>@yahoo.com</string>
		<string>@yahoo.cn</string>
		<string>@yahoo.com.cn</string>
	</array>
	<array>
		<string>@35.cn</string>
	</array>
	<array/>
	<array>
		<string>@qq.com</string>
		<string>@foxmail.com</string>
	</array>
	<array>
		<string>@163.com</string>
		<string>@126.com</string>
		<string>@yeah.net</string>
	</array>
	<array>
		<string>@gmail.com</string>
	</array>
	<array>
		<string>@outlook.com</string>
		<string>@hotmail.com</string>
	</array>
	<array>
		<string>@189.cn</string>
	</array>
	<array>
		<string>@139.com</string>
	</array>
	<array>
		<string>@sina.com</string>
		<string>@sina.cn</string>
	</array>
	<array>
		<string>@aliyun.com</string>
	</array>
	<array>
		<string>@35.cn</string>
		<string>@eyou.net</string>
		<string>@qq.com</string>
		<string>@foxmail.com</string>
		<string>@sina.cn</string>
		<string>@sina.com</string>
		<string>@139.com</string>
		<string>@189.cn</string>
		<string>@126.com</string>
		<string>@163.com</string>
		<string>@yeah.net</string>
		<string>@outlook.com</string>
		<string>@gmail.com</string>
		<string>@hotmail.com</string>
		<string>@aliyun.com</string>
		<string>@yahoo.com.cn</string>
		<string>@yahoo.cn</string>
		<string>@yahoo.com</string>
	</array>
</array>
</plist>
