<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>toolBarSeparatorColor</key>
	<string>0xd4d4d4</string>
	<key>toolBarBackgroundColor</key>
	<string>0xEEEEEE</string>
	<key>tableViewSeparatorColor</key>
	<string>0xdedfe0</string>
	<key>navgationBarTitleColor</key>
	<string>0xffffff</string>
	<key>Navbar_bg_image</key>
	<string>mc_navbar_bg</string>
	<key>logindetail_password</key>
	<string>mc_logindetail_password</string>
	<key>TabBar_3</key>
	<string>mc_tabBar_3</string>
	<key>logindetail_password_show</key>
	<string>mc_logindetail_password_show</string>
	<key>bubble_text_resiver</key>
	<string>mc_bubble_text_resiver</string>
	<key>ChatInput_face</key>
	<string>mc_chatInput_face</string>
	<key>MailBox_trash</key>
	<string>mc_mailBox_trash</string>
	<key>TabBarHightlight_1</key>
	<string>mc_tabBarHightlight_1</string>
	<key>mc_imchat_morephoto</key>
	<string>mc_imchat_morephoto</string>
	<key>Common_deselect_state</key>
	<string>mc_common_deselect_state</string>
	<key>MailBox_pending</key>
	<string>mc_mailBox_pending</string>
	<key>DarkBorderColor</key>
	<string>0xB2B2B2</string>
	<key>MailListvc_nav_write</key>
	<string>mc_mailListvc_nav_write</string>
	<key>capInset_sender_width</key>
	<integer>5</integer>
	<key>TabBarHightlight_2</key>
	<string>mc_tabBarHightlight_2</string>
	<key>TabBarHightlight_4</key>
	<string>mc_tabBarHightlight_4</string>
	<key>MailListvc_nav_left</key>
	<string>mc_mailListvc_nav_left</string>
	<key>logindetail_account_del</key>
	<string>mc_logindetail_account_del</string>
	<key>MailBox_other</key>
	<string>mc_mailBox_other</string>
	<key>bubble_file_sender</key>
	<string>mc_bubble_file_sender</string>
	<key>Chatvc_nav_right</key>
	<string>mc_chatvc_nav_right</string>
	<key>bubble_text_sender</key>
	<string>mc_bubble_text_sender</string>
	<key>logindetail_password_hid</key>
	<string>mc_logindetail_password_hid</string>
	<key>mc_imchat_morefile</key>
	<string>mc_imchat_morefile</string>
	<key>TabBarHightlight_3</key>
	<string>mc_tabBarHightlight_3</string>
	<key>DarkBackgroundColor</key>
	<string>0xF8F8F8</string>
	<key>capInset_resiver_height</key>
	<integer>5</integer>
	<key>BorderColor</key>
	<string>0xF5F5F5</string>
	<key>Common_cantEditStateImage</key>
	<string>mc_common_cantedit_state</string>
	<key>MailBox_inbox</key>
	<string>mc_mailBox_inbox</string>
	<key>MailBox_spam</key>
	<string>mc_mailBox_spam</string>
	<key>MailboxList_background</key>
	<string>mc_mailboxList_background</string>
	<key>voice_gray1</key>
	<string>mc_voice_gray1</string>
	<key>MailBox_sent</key>
	<string>mc_mailBox_sent</string>
	<key>Common_nav_back</key>
	<string>mc_common_nav_back</string>
	<key>Messagevc_nav_right</key>
	<string>mc_messagevc_nav_right</string>
	<key>MailAttachCellBackgroundColor</key>
	<string>0xf5f5f5</string>
	<key>capInset_resiver_width</key>
	<integer>35</integer>
	<key>voice_gray2</key>
	<string>mc_voice_gray2</string>
	<key>voice_blue1</key>
	<string>mc_voice_blue1</string>
	<key>FontTintColor</key>
	<string>0x8b8b8b</string>
	<key>MailListvc_nav_search</key>
	<string>mc_mailListvc_nav_search</string>
	<key>chatinfovc_contact_del</key>
	<string>mc_chatinfovc_contact_del</string>
	<key>MailBox_stard</key>
	<string>mc_mailBox_stard</string>
	<key>voice_gray3</key>
	<string>mc_voice_gray3</string>
	<key>voice_blue2</key>
	<string>mc_voice_blue2</string>
	<key>voice_blue3</key>
	<string>mc_voice_blue3</string>
	<key>Maildetailvc_nav_stard</key>
	<string>mc_Maildetailvc_nav_stard</string>
	<key>bubble_file_resiver</key>
	<string>mc_bubble_file_resiver</string>
	<key>chatinfovc_contact_add</key>
	<string>mc_chatinfovc_contact_add</string>
	<key>ChatInput_more</key>
	<string>mc_chatInput_more</string>
	<key>Common_select_state</key>
	<string>mc_common_select_state</string>
	<key>ChatInput_text</key>
	<string>mc_chatInput_keyb</string>
	<key>ChatInput_backColor</key>
	<string>0xF0F0F0</string>
	<key>TitleTextColor</key>
	<string>0x000000</string>
	<key>TintColor</key>
	<string>4284d9</string>
	<key>TintWeakColor</key>
	<string>6f9cdd</string>
	<key>BackgroundColor</key>
	<string>0xf7f7f9</string>
	<key>capInset_sender_height</key>
	<integer>35</integer>
	<key>moreViewBackground</key>
	<string>0xf0f0f0</string>
	<key>MailBox_draft</key>
	<string>mc_mailBox_draft</string>
	<key>mc_imchat_moretakephoto</key>
	<string>mc_imchat_moretakephoto</string>
	<key>ChatInput_voice</key>
	<string>mc_chatInput_voice</string>
	<key>logindetail_account</key>
	<string>mc_logindetail_account</string>
	<key>Maildetailvc_nav_star</key>
	<string>mc_maildetailvc_nav_star</string>
	<key>TabBar_0</key>
	<string>mc_tabBar_0</string>
	<key>TabBar_1</key>
	<string>mc_tabBar_1</string>
	<key>TabBar_2</key>
	<string>mc_tabBar_2</string>
	<key>TabBar_4</key>
	<string>mc_tabBar_4</string>
	<key>TabBarHightlight_0</key>
	<string>mc_tabBarHightlight_0</string>
	<key>setCurrentUser</key>
	<string>mc_setCurrentUser</string>
	<key>setUserDetail</key>
	<string>mc_setUserDetail</string>
	<key>setAddAccount</key>
	<string>mc_setAddAccount</string>
	<key>attachmentShare</key>
	<string>mc_attachmentShare</string>
</dict>
</plist>
